/*------------------------------------------------------------------
[Responsive Stylesheet]

Project:    MODELTHEME
Version:    1.0
Author:     Modeltheme
URL:        http://www.modeltheme.com/mt_vertigo

[Table of contents]

1.  Responsive Max_319px
2.  Responsive Min_320px Max_479px
3.  Responsive Max_479px
4.  Responsive Min_480px Max_767px
5.  Responsive Max_600px
6.  Responsive Min_681px Max_1200px
7.  Responsive Max_767px
8.  Responsive Min_768px Max_990px
9.  Responsive Min_768px Max_992px
10. Responsive Min_768px Max_1023px
11. Responsive Max_990px
12. Responsive Max_992px
13. Responsive Min_991px Max_1024px
14. Responsive Min_992px and Max_1199px
15. Responsive Max_1000px
16. Responsive Max_1024px
17. Responsive Min_1025 Max_1367px
18. Responsive Max_1200px
19. Responsive Min_1367px

-------------------------------------------------------------------*/

/*--- 1. Responsive Max_319px ---*/
@media only screen and (max-width: 319px) {
    .wpcf7-form input.wpcf7-form-control.wpcf7-text,
    .wpcf7-form textarea.wpcf7-form-control.wpcf7-textarea,
    .wpcf7-form input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
        width: 100%;
    }
    footer .footer-top  .widget .widget-title{
        margin-bottom: 10px;
    }
    footer .widget.widget_text {
        margin-bottom: 20px;
    }
    .top_section .wpb_wrapper h1 span {
        font-size: 45px !important;
        line-height: 44px !important;
    }
    body header .navbar-header .logo {
        max-width: 140px;
    }
    body .aipt-col .text-left {
        width: 100%;
        margin-bottom: 20px;
    }
    /* Add new rules for this interval below */


}



/*--- 2. Responsive Min_320px Max_479px ---*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .wpcf7-form input.wpcf7-form-control.wpcf7-text,
    .wpcf7-form textarea.wpcf7-form-control.wpcf7-textarea,
    .wpcf7-form input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
        width: 100%;
    }
    .testimonial-author-job > h4 {
        font-size: 14px;
    }
    .top_section .wpb_wrapper h1 span {
        font-size: 52px !important;
        line-height: 52px !important;
    }
    body .aipt-col .text-left {
        width: 100%;
        margin-bottom: 20px;
    }
    /* Add new rules for this interval below */


}



/*--- 3. Responsive Max_479px ---*/
@media only screen and (max-width: 479px) {
    .woocommerce form.checkout_coupon button.button {
        padding: 8px 14px !important;
    }
    body.woocommerce ul.products li.product, 
    body.woocommerce-page ul.products li.product {
        width: 100% !important;
    }
    body.single-product .related.products .products.columns-4 li {
        width: 100% !important;
    }
    .header-title-breadcrumb .post-category-date {
        display: none;
    }
    .portfolio-items .col-md-2 {
        width: 100%;
        float: left;
        margin-bottom: 80px;
    }
    .tp-leftarrow.default, 
    .tp-rightarrow.default{
        display: none;
    }
    .menu-item-has-children::after{
        display: block !important;
    }
    .wpb_wrapper ul.ecs-event-list li {
        margin-bottom: 20px !important;
        width: 95% !important;
    }
    .avatar.photo {
        width: 50px;
    }
    .mt_cars--features-description .mt_car--important-features span img {
	    display: block;
	    margin: 0 auto;
	}
	.mt_car--important-features .car_number_passengers_value, .mt_car--important-features .car_luggage_value, .mt_car--important-features .car_gearbox_value {
	    font-size: 11px;
	}
	.post-details-bottom .related-posts .related_blog_custom .post-name a {
	    font-size: 15px;
	}
    p.copyright {
        line-height: 30px !important;
    }
    h3.post-name.row.car-name {
        padding: 5px;
    }
    h3.post-name.row.car-name a {
        font-size: 12px !important;
    }
    /* Add new rules for this interval below */


}



/*--- 4. Responsive Min_480px Max_767px ---*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .portfolio-items .col-md-2 {
        width: 50%;
        float: left;
        margin-bottom: 80px;
    }
    .services-tablet canvas {
        width: 200px !important;
        height: 200px !important;
    }
    .menu-item-has-children::after{
        display: none !important;
    }
    .top_section .wpb_wrapper span {
        line-height: 80px;
    }
    header .navbar-toggle {
        margin-top: 45px !important;
    }
    .avatar.photo {
        width: 50px;
    }
    body.woocommerce ul.products li.product.col-md-4, 
    body .woocommerce-page ul.products li.product.col-md-4 {
        width: 50% !important;
    }
    body.single-product .related.products .products.columns-4 li {
        width: 50% !important;
    }
    /* Add new rules for this interval below */


}

@media only screen and (min-width: 480px) and (max-width: 769px) {
    .r-about-contact {
        width: 100% !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    body .header1 .header-info-group {
        margin-top: 20px !important;
    }
    body .header-block-info-mobile .pull-left.header-info-group:first-of-type {
        margin-top: 20px !important;
    }
}
/*--- 5. Responsive Max_600px ---*/
@media only screen and (max-width: 600px) {
    .vc_row.donation_section {
        padding: 95px 10px 115px !important;
    }
    .donnation-content .button-winona.extra-large {
        font-size: 15px;
    }
    h3.post-name.row.car-name {
    padding: 10px;
    }
    /* Add new rules for this interval below */


}
@media only screen and (max-width: 610px) {
    .header1 .header-info-group {
        width: 100%;
        text-align: left !important;
        margin: 10px 0 0 0px !important;
    }

}


/*--- 6. Responsive Min_681px Max_1200px ---*/
@media only screen and (min-width: 681px) and (max-width: 1200px) {
    .wpb_wrapper ul.ecs-event-list li {
        margin-bottom: 20px !important;
        width: 30% !important;
    }
    /* Add new rules for this interval below */


}



/*--- 7. Responsive Max_767px ---*/

@media only screen and (max-width: 767px) {
    .aipt-newsletter {
        margin: 0px !important;
        padding: 0px 10px;
    }
    body .header1 .header-block-info-mobile .header-infos{
        display: block;
    }
    body .aipt-main-slider {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    body .aipt-main-slider .about-video {
        margin-top: 50px;
    }
    body .aipt-main-slider .about-video .vc_column-inner {
        padding-left: 0px !important;
    }
    .aipt-main-slider h1.vc_custom_heading,
    .aipt-main-slider .parent-typed-text {
        font-size: 70px !important;
    }
    .glossy-testimonial .vc_column-inner {
        padding-bottom: 60px;
    }
    .glossy-testimonial {
        width: 93% !important;
        margin: 0 15px !important;
    }
    .header-block-info-mobile{
        visibility: hidden;
    }
    .navbar-collapse.in .header-block-info-mobile {
        visibility: visible !important;
    }
    body .mt_clients_slider .clients_image_holder_inside.post {
        padding: 0px ;
    }
    .header-title-breadcrumb .breadcrumbs.breadcrumbs-navxt{
        float: none !important;
    }
    .slider_flex #rev_slider_24_1_wrapper {
        width: 108% !important;
    }
    .services-tilte .vc_empty_space {
        display: none;
    }
    body .about-video {
        width: 100% !important;
    }
    body .aipt-bellow {
        margin-bottom: -400px !important;
    }
    .mt_video.row {
        text-align: center;
    }
    .error404 .error-404 h1.text-center {
        font-size: 40px !important;
        line-height: 38px !important;
    }
    .members_img_holder {
        margin-left: 25px;
    }
    .testimonials-container-1 .owl-item:before {
        top: -5%;
    }
    .blog-posts-shortcode.blog-posts .list-view .post-details {
        margin-bottom: 20px;
    }
    #research_wrapper rs-module#research {
        width: 104% !important;
    }
    .aipt_preloader_holder .preloader-wrapper {
        left: 27% !important;
    }
    .l-about-contact .vc_column-inner {
        padding-top: 20px !important;
    }
    .center-h .pull-right.header-info-group,
    .center-h .pull-left.header-info-group {
        display: none;
    }
    .header-slider-btn .vc_empty_space:first-child, 
    .header-slider-btn .vc_empty_space:last-child {
        height: 100px !important;
    }
    .widget_aipt_recent_entries_with_thumbnail li .post-details {
        margin-left: 10px;
    }
    .sidebar-content h4.post-author {
        display: grid;
    }
    .is_header_semitransparent header {
        z-index: 20 !important;
    }
    article.esg-filters {
        text-align: left !important;
    }
    .accordion-services .vc_tta-panel a {
        font-size: 20px;
    }
    .comment_body .reply_button {
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    .comment_body .reply_button a{
        margin: 0px !important;
    }
    .rod-langway .esg-filterbutton {
        margin: 0px !important;
        padding-top: 0px !important;
    }
    footer .mc4wp-form-fields input[type="email"] {
        width: 100% !important;
        border-radius: 0 !important;
        margin-bottom: 5px;
    }
    footer .social-links {
        margin-top: 5px !important;
        margin-bottom: 30px !important;
    }
    .footer-row-1 .menu-quick-links-container, 
    .footer-row-1 .menu-services-container,
    .footer-row-1 .sidebar-4 .textwidget {
        display: none;
        margin-bottom: 20px;
    }
    footer .footer-top h3.widget-title, 
    footer .footer-top .widget-title {
        font-size: 22px !important;
        margin-bottom: 15px !important;
    }
    .footer-row-1 {
        padding-bottom: 55px !important;
    }
    .footer-row-1 h3.widget-title:after {
        font-family: FontAwesome;
        content: '\f107';
        background-color: transparent;
        height: 25px;
        width: 25px;
        font-size: 20px;
        position: absolute;
        top: -5px;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
    }
    .footer-row-1  h3.widget-title.active:after {
       transform: rotate(90deg);
    }
    .right-project .vc_column-inner {
        padding-left: 15px !important;
        margin-top: 30px;
    }
    .left-project .vc_column-inner {
        padding-right: 15px !important;
        margin-bottom: 30px;
    }
    .services-section.vc_row .box-shadow-column .vc_column-inner {
        padding-top: 15px !important;
    }
    .mt-icon-listgroup-item .mt-icon-listgroup-holder .mt-icon-listgroup-icon-holder-inner {
        margin-bottom: 0px !important;
    }
    .mt-icon-listgroup-item {
        margin-top: 30px;
    }
    .bottom-serv.vc_row{
        margin-top: 0px !important;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs {
        display: grid;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td, 
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: #fff !important;
    }
    .woocommerce-cart table.cart.shop_table td.actions .coupon .input-text {
        padding: 12.5px 15px !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
        width: 100%;
        margin-bottom: 10px;
    }
    .woocommerce-page div.woocommerce .shop_table td.actions button.button {
        width: 100%;
    }
    .woocommerce-page div.woocommerce .shop_table .product-subtotal {
        width: 50% !important;
    }
    body #navbar .menu-item.free-consultation > a {
        margin: 0;
        margin-bottom: 15px;
    }
    .hide-on-mobile{
        display: none;
    }
    header .header-infos .header-info-icon {
        display: none;
    }
    .header1 .header-block-info-mobile .header-info-group.header-button {
        float: right !important;
        margin-top: 20px !important;
    }
    .header-block-info-mobile .pull-left.header-info-group:first-of-type {
        margin-left: 0px;
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }
    .header1 .header-block-info-mobile .header-info-group h5,
    .header1 .header-block-info-mobile .header-infos .header-info-labels h5 a {
        color: #828282 !important;
        text-align: left;
    }
    .header1 .header-block-info-mobile .header-info-group h3,
    .header1 .header-block-info-mobile .header-info-group h3 a {
        color: #151515 !important;
    }
    header .header-info-group .header-info-labels p {
        line-height: normal;
        margin: 0;
        padding: 0 !important;
    }
    header .header-info-group {
        margin: 0;
    }
    .woocommerce a.added_to_cart {
        font-weight: 600;
    }
    header #navbar .menu-item .sub-menu .menu-item .sub-menu {
        left: 0;
        opacity: 1 !important;
        top: 0;
        visibility: visible !important;
    }
    #comments .children{
        padding: 0 !important;
    }
    header .navbar-toggle {
        margin-top: 20px !important;
        margin-right: 5px;
        padding-right: 0;
    }
    body .navbar-header .logo {
        margin: 15px 0 !important;
    }
	.logo img, .navbar-header .logo img {
	    margin: 5px 0px;
	}
    #modeltheme-main-head-sticky-wrapper {
        height: 78px !important;
    }
    .added-redux-framework header.header1 {
        height: auto !important;
    }
    .missing-redux-framework header.header1 {
        height: auto !important;
    }
    header #navbar .cf-mega-menu.sub-menu * {
        opacity: 1 !important;
        visibility: visible !important;
    }
    header #navbar .cf-mega-menu.sub-menu img {
        margin: 0 !important;
    }
    header #navbar .cf-mega-menu.sub-menu p {
        text-align: left !important;
    }
    header #navbar .cf-mega-menu.sub-menu .vc_btn3-container{
        text-align: left;
        margin-bottom: 0px;
    }
    header .mega3menu .cf-mega-menu .vc_row .vc_col-sm-3:not(:last-child) {
        border: 0 !important;
    }
    header #navbar .cf-mega-menu.sub-menu .vc_column-inner {
        padding-top: 15px !important;
    }
    #navbar .menu-item .sub-menu .menu-item .sub-menu {
        left: 0;
        position: relative;
        top: 0;
    }
    body header #navbar .sub-menu li:last-child, body header #navbar .sub-menu li {
        border-bottom: 0 none;
    }
    body #navbar .sub-menu li:last-child, body #navbar .sub-menu li {
        border-bottom: 0 none;
    }
    header #navbar .sub-menu .menu-item > a {
        color: #000000;
        font-weight: 500;
    }
    .sidebar-content:not(.header7) {
        padding-right: 15px !important;
        padding-bottom: 50px;
        padding-top: 45px;
    }
    .header-info-group i {
        display: none;
    }
    body #modeltheme-main-head .container > .row {
        margin: 0 !important;
    }
    body header .header-info-group .pull-left {
        float: none !important;
    }
	header #navbar .sub-menu .menu-item > a {
		margin-left: 15px;
	}
	header #navbar .sub-menu .sub-menu .menu-item > a {
		margin-left: 30px;
	}
	header #navbar .sub-menu .sub-menu .sub-menu .menu-item > a {
		margin-left: 45px;
	}
    .navbar-collapse .menu .menu-item {
        text-align: left;
    }
    body #modeltheme-main-head {
        height: auto;
        padding: 0;
        min-height: 0 !important;
    }
    body header #navbar .menu-item > a {
        padding: 0 !important;
        border: 0;
        border: none !important;
    }
    body header #navbar .sub-menu .menu-item > a {
        padding: 4px 0 !important;
    }
    header.header1 .header-nav-actions {
        display: none;
    }
    .header-nav-actions .mt-search-icon{
        padding: 27px 25px 24px 25px;
    }
    body header .navbar .free-consultation a {
        display: inline-block !important;
        margin: 10px 15px 0;
    }
    header .navbar-header .logo {
        margin: 20px 10px;
        max-width: 160px;
        text-align: left;
    }
    header.header2 .col-md-9.col-sm-8 {
        display: none !important;
    }
    .owl-theme .owl-controls {
        display: none !important;
    }
    .related-posts .post-name a {
        font-size: 20px;
    }
    body.is_header_semitransparent .navbar-default .container {
        padding: 0 !important;
    }
    body .navbar-default .navbar-toggle {
        border-color: #151515 !important;
    }
    .single.single-post .post-name {
        font-size: 25px;
        line-height: 30px;
    }
    .related-posts {
        padding: 0 15px;
    }
    footer p.copyright span {
        text-align: center !important;
        float: none !important;
    }
    .header-group .breadcrumb{
        display: none;
    }
    .widget_text .shop_feature_v2 .shop_feature_icon_v2 {
        padding: 7px;
    }
    .sticky_post_text_container {
        margin-bottom: 30px;
    }
    .courses-list .course_text_content h5 {
        clear: both;
    }
    .courses-list .course_more_container {
        text-align: right !important;
    }
    .courses-list .all_courses_box .all_courses_title {
        padding-top: 10px;
    }
    .all_courses_box .all_courses_buton {
        margin-bottom: 30px;
    }
    .all_courses_box {
        margin-bottom: 30px;
    }
    .shortcode_post_content .text_content .post-download-icons {
        display: none;
    }
    .pricing-table {
        margin-top: 30px;
    }
    .search_products {
        display: none;
    }
    body .navbar-header .logo {
        margin: 10px 0;
    }
    footer p.copyright {
        line-height: 1.6 !important;
        text-align: center;
    }
    footer .logo {
        margin-bottom: 20px !important;
    }
    footer .payment-methods{
        text-align: center;
    }
    footer .payment-methods img {
        float: none !important;
    }
    #page .top-header{
        padding: 15px 0;
    }
    .header-infos .header-info-labels {
        padding-left: 25px !important;
    }
    header .header-info-group .pull-right {
        float: none !important;
        padding-left: 0;
    }
    header .social-links {
        float: none !important;
    }
    .top-header .account-urls {
        margin-top: 10px;
    }
    .widget .widget_address_social_icons .social-links > li:first-child{
        margin-left: 0;
    }
    .widget .widget_address_social_icons .social-links a i {
        padding: 13px;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    .widget .widget_address_social_icons .social-links a {
        height: 40px;
        width: 40px;
    }
    .widget .widget_address_social_icons .social-links > li {
        height: 40px;
        margin-bottom: 5px;
        margin-right: 1px;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        width: 40px;
    }
    .modeltheme-breadcrumbs h2{
        font-size: 17px;
    }
    .latest-posts .single-post .vc_col-md-3.text-center {
        display: none;
    }  
    body .home-slider-button a {
        padding: 10px 40px 10px 15px !important;
        font-size: 14px !important;
    } 
    body .home-slider-button a i {
        font-size: 14px !important;
        padding: 0 !important;
    }
    footer nav.menu {
        float: left;
    }
    footer nav.menu li:first-child a {
        margin-left: 0;
    }
    body .navbar ul li:hover ul.sub-menu {
        border: 0 none;
        left: 0;
        margin: 0;
        opacity: 1;
        position: relative;
        top: 0;
        visibility: visible;
        width: 100%;
    }
    .menu-item-has-children {
        cursor: pointer;
    }
    body .navbar ul li ul.sub-menu {
        border: 0 none;
        left: 0;
        margin: 0;
        opacity: 1;
        position: relative;
        top: 0;
        display: none;
        visibility: visible;
        width: 100%;
    }
    body #navbar .sub-menu li:last-child,
    body #navbar .sub-menu li {
        border-bottom: 1px solid #3d4f61;
        position: relative;
    }
    .widget.widget_flickr {
        clear: both;
    }
    .widget_recent_entries_with_thumbnail .thumbnail-overlay {
        width: 70px;
    }
    .widget_recent_entries_with_thumbnail .post-details {
        padding: 0;
    }
    body .navbar-default .navbar-collapse, 
    body .navbar-default .navbar-form {
        border-color: rgba(0, 0, 0, 0);
        padding: 0;
    }
    .navbar-collapse.vc_col-md-9.collapse.in {
        width: 100%;
    }
    .header_mini_cart {
        display: none;
    }
    body .navbar ul li ul.sub-menu li::before {
        content: none;
        position: absolute;
        top: 10px;
        color: white;
        left: 14px;
    }
    .modeltheme-breadcrumbs .breadcrumb {
        display: none;
    }
    .menu.nav-effect.nav-menu {
        margin: 0;
        text-align: left;
        width: 100%;
    }
    .smartowl_skin_switcher {
        display: none;
    }
    body .navbar-nav > li > a {
        padding: 15px 0;
    }
    .navbar-collapse.collapse.in .menu .item:hover {
        background: #253749;
    }
    .navbar-collapse .menu .item,
    .navbar-collapse.collapse.in .menu .item {
        width: 100%;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .logo {
        margin: 15px 0;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle {
        margin: 27px 15px !important;
        transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
    }
    #navbar .menu-item > a {
        padding: 15px 10px 24px;
    }
    header.header3 .navbar-nav.nav-menu,
    header.header10 .navbar-nav.nav-menu {
        margin-right: 0px !important;
    }
    header.header4 .navbar-nav.nav-menu,
    header.header11 .navbar-nav.nav-menu {
        margin-left: 0px !important;
    }
    #mt-nav-burger {
        display: none;
    }
    .logo img, .navbar-header .logo img {
        max-width: 115px !important;
    }
    header.header5 #navbar .menu .menu-item {
        text-align: left;
    }
    header.header12 .navbar .logo {
        display: block !important;
    }
    header.header12 #navbar .menu .menu-item {
        text-align: left;
    }
    header.header12 .navbar-nav > li::before {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    }
    header.header12 .navbar-default .navbar-toggle .icon-bar {
        background: #131313 none repeat scroll 0 0;
    }
    header.header12 .navbar.navbar-default {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }
    header.header12 #navbar .menu-item > a:hover::before {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    }
    header.header12 #navbar .menu-item > a {
        padding: 15px 10px !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #151515;
    }
    .missing-redux-framework .navbar-default .navbar-toggle .icon-bar {
        background: #151515;
    }
    .missing-redux-framework .navbar-default .navbar-toggle {
        border-color: #151515;
    }
    #modeltheme-main-head .navbar-collapse.col-md-9,
    #modeltheme-main-head .navbar-collapse.collapse.col-md-9 {
        margin: 0;
        width: 100%;
        padding-bottom: 20px;
    }
    .portfolio .col-md-2:nth-child(7n+5),
    .portfolio .col-md-2:nth-child(7n+1){
        margin-left: 0;
        clear: none;
    }
    .testimonials .testimonials-container blockquote{
        font-size: 16px;
    }
    .testimonials .testimonials-container blockquote::after,
    .testimonials .testimonials-container blockquote::before{
        font-size: 100px;
        top: 34%;
    }
    .submit-comment .comment-form .form-comment {
        padding: 0;
    }

    body .portfolio-items .vc_col-md-2:last-child{
        margin-bottom: 0;
    }
    body .portfolio-items .vc_col-md-2{
        margin-bottom: 80px;
    }
    body .portfolio-items .vc_col-md-2:nth-child(7n+5),
    body .portfolio-items .vc_col-md-2:nth-child(7n+1) {
        margin-left: 0;
    }
    body .testimonials-container blockquote * {
        font-size: 16px;
    }
    .testimonials-container blockquote::after,
    .testimonials-container blockquote::before{
        content: "";
        display: none;
    }
    .testimonials-container blockquote {
        padding: 20px 0 20px;
        margin: 0;
    }
    #navbar .menu .item a {
        padding: 10px 0;
        padding-left: 10px;
    }
    body .theme_header_slider .tp-leftarrow.default::after, 
    body .theme_header_slider .tp-rightarrow.default::after {
        font-size: 50px;
        line-height: 60%;
        opacity: 0.75;
    }
    #navbar .menu-item.menu-item-has-children > a::after {
	    content: none !important;
	}
    .header1 #navbar {
        padding: 12px 5px 5px;
    }
	.action-expand.show-menu::after {
		content: "\f106";
	    font-family: FontAwesome;
	}
	nav #navbar ul li.free-consultation a {
	    padding: 3px 13px !important;
	}
    header.header8 .header-nav-actions {
        display: none !important;
    }
    header.header8 .menu.nav-effect.nav-menu {
        float: left !important;
    }
    header.header9 .header-nav-actions {
        display: none !important;
    }
    header.header9 .header-nav-actions {
        display: none !important;
    }
    body header.header9 .navbar-header .logo {
        text-align: left !important;
    }
    /* Add new rules for this interval below */

}



/*--- 8. Responsive Min_768px Max_990px ---*/
@media only screen and (min-width: 768px) and (max-width: 990px) {
    #navbar .menu > .menu-item:first-child > a {
        padding: 18px 18px !important;
    }
    .testimonials-container-1 .owl-item:before {
        top: 0% !important;
    }
    rs-tabs.tp-tabs.inner.medicare,
    rs-fullwidth-wrap#research_forcefullwidth rs-layer#slider-30-slide-14-layer-7 {
        display: none;
    }
    .header-nav-actions .mt-search-icon{
        padding: 25px 26px 25px 26px!important;
    }
    .is_header_semitransparent .header1 .mt-nav-burger-holder, .is_header_semitransparent .header-nav-actions .mt-search-icon {
        border-left: none!important;
        border-right: 1px solid rgba(255,255,255,0.1)!important;
    }
    .header1 .mt-nav-burger-holder{
        border-left: none!important;
        border-right: 1px solid rgba(255,255,255,0.1)!important;
    }
    .header1 .mt-nav-burger-holder {
        padding: 25px 26px!important;
    }
    body #navbar .menu-item > a {
        font-size: 13px !important;
    }
    header.header1  .header-nav-actions {
        display: none;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    .fixed-sidebar-menu.open {
        width: 50% !important;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td, 
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: #fff !important;
    }
    .woocommerce-page div.woocommerce .shop_table .product-subtotal {
        width: 25.5% !important;
    }
    .woocommerce-page table.cart td.actions .coupon .input-text+.button {
        float: left !important;
        width: fit-content !important;
    }
    .single-post .col-md-8.main-content,
    .single-post .sidebar-content {
        width: 100%;
    }
    .sidebar-content h4.post-author {
        display: grid;
    }
    .widget_aipt_recent_entries_with_thumbnail li .post-details {
        margin-left: 20px;
    }
    .right-project .vc_column-inner{
        padding-left: 0px !important;
    }
    .left-project .vc_column-inner{
        padding-right: 0px !important;
    }
    .contact-tablet .vc_col-sm-4 {
        width: 100%;
    }
    .consulting-broshure-sidebar a.btn.btn-download-pdf {
        padding: 12px 8px !important;
    }
    footer .mc4wp-form-fields input[type="email"] {
        width: fit-content !important;
    }
     body .center-h .navbar-header .logo {
        margin: 30px auto 30px !important;
    }
    .header-title-breadcrumb .breadcrumbs.breadcrumbs-navxt{
        float: none !important;
    }
    .comment_body .reply_button{
        padding-left: 0px !important;
    }
    .comment_body .reply_button a{
        margin: 0px !important;
    }
    footer .footer-top h3.widget-title, 
    footer .footer-top .widget-title {
        margin-bottom: 20px !important;
        margin-top: 30px !important;
    }
    footer .mc4wp-form p {
        width: 36%;
    }
    .header1 .header-info-group.header-button {
        margin-left: 15px !important;
    }
    body .header1 .header-info-group h3,
    body .header1 .header-infos .header-info-labels h3 a {
        font-size: 13px !important;
    }
    body .header1 .header-info-group h5,
    body .header1 .header-infos .header-info-labels h5 a {
        font-size: 12px !important;
    }
    .header1 .header-info-group {
        margin: 30px 0 0 20px !important;
    }
}



/*--- 9. Responsive Min_768px Max_992px ---*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header-nav-actions .mt-search-icon {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .header-infos .header-info-labels {
        padding-left: 5px !important;
    }
    .header-info-group .header-info-labels p {
        margin-right: 15px !important;
    }
    body.woocommerce ul.products li.product.col-md-3 {
        width: 50% !important;
        float: left !important;
    }
    .woocommerce div.product .product-thumbnails div.images {
        width: 50% !important;
    }
    .header-nav-actions .mt-search-icon{
        padding: 25px 26px 25px 26px!important;
    }
    .is_header_semitransparent .header1 .mt-nav-burger-holder, .is_header_semitransparent .header-nav-actions .mt-search-icon {
        border-left: none!important;
        border-right: 1px solid rgba(255,255,255,0.1)!important;
    }
    .header1 .mt-nav-burger-holder{
        border-left: none!important;
        border-right: 1px solid rgba(255,255,255,0.1)!important;
    }
    .header1 .mt-nav-burger-holder {
        padding: 25px 26px!important;
    }
    body #navbar .menu-item > a {
        font-size: 13px !important;
    }

}

@media only screen and (max-width: 1100px) {
    .header1 .header-infos,
    .back-to-top {
        display: none !important;
    }
    .menu.nav-effect.nav-menu {
        text-align: left !important;
        width: 100% !important;
    }
    .navbar-toggle .icon-bar{
        background: #000;
    }
    body .navbar-header {
        width: 100% !important;
    }
    .vc_empty_space.no-mobile {
        display: none;
    }
    body .navbar-header .logo {
        margin-bottom: 30px;
        margin-top: 30px;
        width: fit-content;
        text-align: left;
    }
    header #navbar .sub-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: block;
        opacity: 1;
        padding: 0;
        position: relative;
        visibility: visible;
        top: 0;
        width: 100%;
    }
    #navbar ul.sub-menu li a {
        text-transform: uppercase !important;
        font-weight: 500 !important;
    }
    header #navbar .sub-menu {
        box-shadow: none !important;
    }
    .header1 #navbar {
        border: none;
    }
    header #navbar .menu-item:hover .sub-menu {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        opacity: 1 !important;
        top: 0 !important;
        visibility: visible !important;
    }
    .action-expand::after{
        color: #000000;
    }
    .action-expand::after {
        content: "\f107";
        font-family: FontAwesome;
    }
    #navbar .menu-item-has-children .expand a {
        padding: 0px 7px;
        border: 1px solid #ddd;
    }
    .expand {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .header1 .header-block-info-mobile .header-infos {
        width: 100%;
        margin-bottom: 18px;
        border-top: 1px solid #ebebeb;
        margin-top: 15px;
    }
    body .header-infos .header-info-labels {
        padding-left: 0 !important;
        float: none !important;
        display: block !important;
        width: 100% !important;
        clear: both;
    }
    .is_header_semitransparent .navbar-default .container div#navbar {
        padding: 12px 15px 5px !important;
    }
    .navbar-collapse li {
        width: 100%;
    }
    .is_header_semitransparent .header1 #modeltheme-main-head{
        background: #fff;
    }
    body.is_header_semitransparent header {
        z-index: 200;
    }
    body .header1 #navbar .menu > .menu-item:first-child > a, body .header1 #navbar .menu > .menu-item > a{
        border: none;
    }
}

/*--- 10. Responsive Min_768px Max_1023px ---*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .aipt-newsletter {
        padding: 0px 35px;
    }
    body header .navbar-toggle {
        margin-top: 35px !important;
        margin-right: 5px;
        padding-right: 0;
    }
    .r-about-contact,
    .l-about-contact {
        width: 50% !important;
    }
    footer .payment-methods img {
        float: none !important;
    }
    footer p.copyright {
        padding-top: 0;
    }
    footer .payment-methods{
        text-align: center;
    }
    .navbar-nav > li > a {
        padding: 30px 0;
    }
    .widget .widget_address_social_icons .social-links > li:first-child {
        margin-left: 3px;
    }
    .navbar-collapse.collapse.vc_col-md-9 {
        float: left;
    }
    body .navbar-nav > li > a,
    body .menu .item a{
        font-size: 12px;
    }
    #navbar .menu .item a {
        padding: 30px 0;
    }
    .modeltheme-breadcrumbs h2{
        font-size: 19px;
    }
    .modeltheme-breadcrumbs .breadcrumb{
        display: none;
    }
    header.header2 .navbar-header .logo {
        text-align: center !important;
    }
    header.header8 .mt-nav-burger-holder {
        padding: 0 !important;
    }
    body header.header8 #mt-nav-burger {
        top: 28px !important;
    }
    body header.header9 .navbar-header .logo {
        text-align: center !important;
    }
    body header.header9 .mt-nav-burger-holder {
        padding: 0px !important;
    }
    body header.header9 #mt-nav-burger {
        top: 28px !important;
    }
    body header.header9 .menu.nav-effect.nav-menu {
        width: 85% !important;
    }
    body header.header9 .header-nav-actions .mt-search-icon {
        margin-right: 35px !important;
    }
    .r-about-contact {
        margin-top: 35px;
    }
    .aipt-newsletter {
        margin: 0px !important;
    }
    .header-nav-actions .mt-search-icon{
        padding: 25px 26px 25px 26px!important;
    }
    .is_header_semitransparent .header1 .mt-nav-burger-holder, .is_header_semitransparent .header-nav-actions .mt-search-icon {
        border-left: none!important;
        border-right: 1px solid rgba(255,255,255,0.1)!important;
    }
    .header1 .mt-nav-burger-holder{
        border-right: 1px solid rgba(255,255,255,0.1)!important;
    }
    .header1 .mt-nav-burger-holder {
        padding: 27px 26px!important;
    }
    body #navbar .menu-item > a {
        font-size: 13px !important;
    }
    /* Add new rules for this interval below */


}



/*--- 11. Responsive Max_990px ---*/
@media only screen and (max-width: 990px) {
    .mt-car-search .select2.select2-container.select2-container--default {
        width: 100% !important;
    }
    .mt-icon-listgroup-item .mt-icon-listgroup-holder .mt-icon-listgroup-content-holder-inner{
        padding-right: 0px !important;
    }
    .mt-car-search .search-field.form-control {
        width: 88% !important;
    }
    .list-view .blog_custom {
        display: block !important;
    }
    .odd-post .blog_post_image {
        padding-top: 48px !important;
    }
    .even-post .blog_post_image {
        padding-bottom: 48px !important;
    }
    .blog_post_image {
        display: block;
        margin: 0 auto;
    }
    /* Add new rules for this interval below */


}

/*--- 12. Responsive Max_992px ---*/
@media only screen and (max-width: 992px) {
    .container.blog-posts > .row,
    .single-post  article > .container > .row {
        display: flex;
        flex-direction: column;
    }
    .vc_row-fluid.services-section {
        margin-top: 90px !important;
    }
    body .button-sections a {
        padding-right: 0 !important;
        font-size: 14px !important;
    }
    .widget_aipt_recent_entries_with_thumbnail .thumbnail-overlay.absolute {
        display: none;
    }
    .widget_aipt_recent_entries_with_thumbnail li .post-details a {
        padding-top: 10px !important;
    }
    .widget_aipt_recent_entries_with_thumbnail li .post-details {
        padding: 0;
        width: 100%;
    }
    .sidebar-content:not(.header7) {
        order: 2;
    }
    .col-md-8.main-content {
        order: 1;
    }
    body h1.widget-title,
    body h2.heading-bottom {
        font-size: 26px !important;
    }
    body .comment-respond {
        margin-bottom: 50px !important;
    }
    footer .mc4wp-form-fields input[type="submit"] {
        width: 100% !important;
        border-radius: 0 !important;
    }
    footer .social-links {
        float: none !important;
        line-height: 50px !important;
    }
    .error-404.not-found h1.page-404-digits {
        font-size: 80px !important;
        line-height: 1 !important;
    }
    .container.footer {
        text-align: center;
    }
    body .pagination {
        margin: 20px 0 45px 0 !important;
        padding: 0 !important;
        display: flow-root;
    }
    body .modeltheme-pagination.pagination span:first-child {
        margin-left: 0 !important;
    }
    a.logo-footer {
        line-height: 50px !important;
    }
    .blog_custom .post-details .description_container {
        display: block;
    }
    .description_container .blog_post_image {
        width: 100%;
    }
    .mt_car--important-features .car_number_passengers,
    .mt_car--important-features .car_luggage,
    .mt_car--important-features .car_gearbox {
        display: inline-block;
        width: 33.3%;
    }
    .post-details-bottom .related-posts .post {
        margin-bottom: 40px;
    }
    .post-details-bottom .related-posts .related_blog_custom img {
        width: 100%;
    }
    .sidebar-content  {
        padding-left: 15px !important;
        padding-bottom: 50px;
    }   
    .header-title-breadcrumb .header-title-breadcrumb-overlay h1 {
        text-align: center;
        line-height: 1.2;
    }
    .header-title-breadcrumb .header-title-breadcrumb-overlay .breadcrumb {
        text-align: center;
        padding-top: 0px;
    }
}



/*--- 13. Responsive Min_991px Max_1024px ---*/
@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .header1 .logo-infos .navbar-header-infos {
        width: 100% !important;
    }
    body .header1 .header-block-info-mobile .header-infos{
        display: inline-flex;
        justify-content: space-between;
    }
    .header1 .logo-infos .navbar-header-infos .header-infos {
        width: 100%;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: auto !important;
    }
    .fixed-sidebar-menu.open {
        width: 50% !important;
    }
    /* Add new rules for this interval below */


}



/*--- 14. Responsive Min_992px and Max_1199px ---*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mt_cars--features-description .house_description {
        display: none;
    }
    .mt_cars--main-pic {
        margin-bottom: 12px !important;
    }
    /* Add new rules for this interval below */
}
/*Ipad */
@media only screen and (min-width: 768px) and (max-width: 1190px) {
    body .aipt-bellow {
        margin-bottom: -370px !important;
    }
    .glossy-testimonial .vc_column-inner {
        padding-bottom: 50px;
    }
    .vc_video-bg{
        display: none;
    }
    .glossy-testimonial {
        width: 100% !important;
    }
    .solutions-row .wpb_column.vc_column_container {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* ipad Mini Portrait */
@media only screen and (min-width:768px) and (max-width: 1023px) {
    body .glossy-testimonial {
        width: 98% !important;
        margin-left: 10px;
    }
    body .aipt-main-slider{
        padding-bottom: 130px !important;
    }
}
@media only screen and (min-width: 1023px) and (max-width: 1190px) {
    .aipt-newsletter {
        margin: 0px !important;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .header1 .header-info-group .header-info-icon {
        display: none;
    }
}


/*--- 15. Responsive Max_1000px ---*/
@media screen and (max-width: 1000px) {
    .no-results.not-found {
        margin-bottom: 80px;
    }
    .comment-form .form-comment {
        padding: 0;
    }
    footer .footer-top h1.widget-title {
        margin-bottom: 5px;
        margin-top: 20px;
    }
    .navbar-collapse.collapse.vc_col-md-9 {
        width: 100%;
    }    
    .prev.page-numbers {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }    
    .widget_smartowl_tweets_widget .tweet-title,
    .widget_smartowl_tweets_widget .tweeter-profile {
        padding: 0;
    }
    .widget_smartowl_tweets_widget .tweet-title .col-md-2,
    .left-block-container .block-icon,
    .latest-tweets .vc_col-md-2,
    #contact_form .mt-half-spacer {
        display: none;
    }
    #contact_form textarea,
    #contact_form input {
        margin-bottom: 15px;
    }
    .latest-posts .single-post .vc_col-md-3.text-center {
        display: none;
    }    
    .component.add-to-cart, 
    .component.wishlist, 
    .component.compare {
        clear: both;
        display: block;
        width: auto;
    }
    footer nav.menu {
        float: left;
    }
    footer nav.menu li:first-child a {
        margin-left: 0;
    }
    .widget.widget_flickr {
        clear: both;
    }
    .widget_recent_entries_with_thumbnail .thumbnail-overlay {
        width: 70px;
    }
    .widget_recent_entries_with_thumbnail .post-details {
        padding: 0;
    }
    .logo {
        margin: 15px 0;
    }
    .widget.widget_tag_cloud {
        overflow: hidden;
    }
    .portfolio .col-md-2:nth-child(7n+5),
    .portfolio .col-md-2:nth-child(7n+1){
        margin-left: 0;
        clear: none;
    }
    .testimonials .testimonials-container blockquote{
        font-size: 16px;
    }
    .testimonials .testimonials-container blockquote::after,
    .testimonials .testimonials-container blockquote::before{
        font-size: 100px;
        top: 34%;
    }
    .submit-comment .comment-form .form-comment {
        padding: 0;
    }
    body .portfolio-items .vc_col-md-2:last-child{
        margin-bottom: 0;
    }
    body .portfolio-items .vc_col-md-2{
        margin-bottom: 80px;
    }
    body .portfolio-items .vc_col-md-2:nth-child(7n+5),
    body .portfolio-items .vc_col-md-2:nth-child(7n+1) {
        margin-left: 0;
    }
    body .testimonials-container blockquote * {
        font-size: 16px;
    }
    .testimonials-container blockquote::after,
    .testimonials-container blockquote::before{
        content: "";
        display: none;
    }
    .testimonials-container blockquote {
        padding: 20px 0 20px;
        margin: 0;
    }
    body .theme_header_slider .tp-leftarrow.default::after, 
    body .theme_header_slider .tp-rightarrow.default::after {
        font-size: 50px;
        line-height: 60%;
        opacity: 0.75;
    }
    .donnation-content .donnation_texts {
        border: medium none;
        text-align: center;
    }
    .donation-button-container {
        text-align: center;
    }
    /* Add new rules for this interval below */


}



/*--- 16. Responsive Max_1024px ---*/
@media only screen and (max-width: 1024px) {
    footer aside {
        float: left;
        width: 100%;
    }
    .slider_flex #rev_slider_24_1_wrapper,
    .slider_flex rs-module,
    .slider_flex rs-slides, 
    .slider_flex rs-slide,
    .slider_flex rs-module rs-layer {
        width: 104% !important;
    }
    .slider_flex rs-fullwidth-wrap{
        width: 100% !important;
    }
    footer .mc4wp-form-fields button[type="submit"].mt-mailchimp-submit{
        margin-right: 20px;
    }
    #research_wrapper {
        width: 104% !important;
    }
    .is_header_semitransparent .header-nav-actions .mt-search-icon{
        color: #ffffff;
    }
    .header-nav-actions .mt-search-icon{
        padding: 25px 26px!important;
    }
    .header1 .mt-nav-burger-holder {
        padding: 25px 26px!important;
    }
    body .header1 #navbar .menu > .menu-item:first-child > a, body .header1 #navbar .menu > .menu-item > a{
        padding: 10px 0px ;
    }
    body #navbar .menu-item > a {
        font-size: 13px !important;
    }
    #navbar .menu-item.mega1column > a::after, #navbar .menu-item.mega2columns > a::after, #navbar .menu-item.mega3columns > a::after, #navbar .menu-item.menu-item-has-children > a::after {
        top: 5% !important;
        right: 8px !important;
    }
    footer .footer-top h1.widget-title {
        font-size: 25px !important;
    }
    .services-section .box-shadow-column .vc_column-inner {
        padding: 25px !important;
    }
    .mt-icon-listgroup-item .mt-icon-listgroup-holder .mt-icon-listgroup-icon-holder-inner img {
        max-width: 40px !important;
    }
    .mt-icon-listgroup-item .mt-icon-listgroup-holder p.mt-icon-listgroup-title {
        font-size: 17px !important;
    }
    .testimonials-container-1.owl-theme .owl-controls {
        display: none !important;
    }
    body .navbar-header .logo {
        margin-bottom: 30px;
        margin-top: 30px;
        width: fit-content;
        text-align: left;
    }
    body .navbar-header .logo.no-logo {
        margin: 31px 0 !important;
    }
    body #modeltheme-main-head{
        padding: 0;
    }
    footer{
        padding: 0 15px;
    }
    .odd-post .single-post.list-view .post-date, .even-post .single-post.list-view .post-date {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: auto;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
    }
    .even-post .list-view .blog_date.blog_day,
    .odd-post .list-view .blog_date.blog_day {
        font-size: 14px;
        font-weight: 300;
    }
    .odd-post .list-view .post-category-comment-date,
    .even-post .list-view .post-category-comment-date {
        margin: 0;
    }
    .odd-post .list-view .blog_date,
    .even-post .list-view .blog_date {
        display: inline-table;
        font-size: 14px;
        text-transform: none;
        line-height: normal;
    }
    .newspaper-info-bordered .col-md-5 {
        text-align: center;
        display: none;
    }
    .newspaper-info .newspaper-info-bordered {
        padding: 15px 0;
        border: 0 none;
    }
    .smartowl_shortcode_blog .post {
        margin-bottom: 30px;
    }
    ul.ecs-event-list li {
        margin-bottom: 20px !important;
    }
    .donation-right-side {
        margin: 0px;
    }
    .shop_feature_description_v2 {
        padding-left: 5px;
    }
    header.header2 .menu.nav-effect.nav-menu {
	    width: 100% !important;
	}
	.navbar-nav > li {
	    float: none !important;
	}
    body header.header2 .navbar-header .logo {
        text-align: center;
    }
    header.header8 .mt-nav-burger-holder {
        padding: 0 !important;
    }
    body header.header8 #mt-nav-burger {
        top: 28px !important;
    }

    body header.header9 .mt-nav-burger-holder {
        padding: 0px !important;
    }
    body header.header9 .header-nav-actions .mt-search-icon {
        margin-right: 35px !important;
    }
    header.header9 .navbar-header .logo {
        text-align: center !important;
    }
    body header.header9 #mt-nav-burger {
        top: 28px !important;
    }
    body header.header9 .menu.nav-effect.nav-menu {
        width: 85% !important;
    }
    .services-section.medic-services-section{
        margin-top: 0px !important;
    }
    
    /* Add new rules for this interval below */


}



/*--- 17. Responsive Min_1025 Max_1367px ---*/
@media only screen and (min-width: 1025px) and (max-width: 1367px) {
    body header .header-nav-actions{
        padding: 0;
    }
    .header1 .header-info-group {
        margin: 30px 0 0 17px !important;
    }
    .header-nav-actions .mt-search-icon{
        padding: 25px 26px 25px 26px!important;
    }
    .header1 .mt-nav-burger-holder {
        padding: 25px 26px!important;
    }
    body .header1 #navbar .menu > .menu-item:first-child > a, body .header1 #navbar .menu > .menu-item > a{
        padding: 18px 26px !important;
    }


    /* Add new rules for this interval below */
}


/* Nest Hub */
@media only screen and (min-width: 1023px) and (max-width: 1190px) {
    body header .navbar-toggle {
        margin-top: 35px !important;
        margin-right: 5px;
        padding-right: 0;
    }
    .aipt-col .vc_empty_space:first-of-type {
        height: 0px !important;
    }
    .header1 .header-info-group {
        text-align: left;
    }
    body #navbar .menu-item > a {
        line-height: 20px;
    }
    header.header1 .header-nav-actions{
        display: none;
    }
}
@media only screen and (min-width: 1025px) {
    footer .footer-top {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1367px) {
    .c-about-contact{
        display: none !important;
    }
    .l-about-contact,
    .r-about-contact {
        width: 50% !important;
    }
}
/*--- 17. Responsive Min_1025 Max_1367px ---*/
@media only screen and (min-width: 1025px) and (max-width: 1230px) {
    .header1 .header-info-group {
        margin: 30px 0 0 20px !important;
    }
    /* Add new rules for this interval below */

}


/*--- 18. Responsive Max_1200px ---*/
@media only screen and (max-width: 1200px) {
    .vertigo-row {
        max-width: 400px;
        margin: 0 auto !important;
    }
    .vertigo-row > [class*='col-'] {
        width: 100%;
    }
    .vertigo-row button[type="submit"] {
        border-radius: 0;
        text-align: left;
    }
    .vertigo-row input[type="text"].form-control {
        border-radius: 0;
        margin-bottom: 5px;
    }
    .vertigo-row select.form-control {
        border-radius: 0;
        margin-bottom: 5px;
        background-position: 35% center;
    }
    .header-nav-actions .mt-search-icon {
        float: right !important;
        position: unset !important;
    }
    .header-nav-actions .mt-search-icon {
        float: right !important;
        position: relative;
        top: 32px;
    }
    #navbar .menu-item > a {
        font-size: 15px !important;
    }
    h3.post-name.row.car-name a {
        font-size: 15px !important;
        letter-spacing: 0px;
    }
    /* Add new rules for this interval below */

}

/* Nest Hub Max*/
@media only screen and (min-width: 1229px) and (max-width: 1300px) {
    body .aipt-bellow {
        margin-bottom: -490px !important;
    }
    .aipt-main-slider .about-video {
        margin-top: 70px;
    }
}

/*--- 19. Responsive Min_1367px ---*/
@media only screen and (min-width: 1367px) {
    .events-shortcode-v2 .event-description-title {
        padding: 0px 10px !important;
    }
    /* Add new rules for this interval below */


}

@media only screen and (min-width: 1101px) {
    .header1 .header-block-info-mobile .header-infos {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    body.woocommerce ul.products li.product.col-md-3 {
        width: 100% !important;
    }
}